.about {
  margin-top: 80px;
  box-sizing: border-box;
  padding: 0 25px;
  line-height: 1.5;
  background-image: linear-gradient(to bottom right, #ffd700, #c0c0c0 70%);
}

.about__header {
  text-align: center;
}

@media (min-width: 600px) {
  .about__paragraph {
    font-size: 18px;
  }
}
