.gymCard {
  outline: 1px solid black;
  border-radius: 25px;
  width: 270px;
  height: 250px;
  /* background-color: green; */
}

.gymCard__header {
  /* background-color: green; */
  margin: 0;
}

.gymCard__summary {
  list-style-type: none;
  padding: 0;
}

.gymCard__team {
  list-style-type: disc;
}

.gymCard__rewards-list {
  list-style-type: disc;
}
