@import url("../../vendor/fonts/fonts.css");

.App {
  /* font-family: "Pokemon";
  background-image: linear-gradient(15deg, green, 45%, purple);
  background-clip: text;
  color: transparent;
  font-size: 60px;
  height: 25vh; */
}
