.header {
  outline: 1px solid #f00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.header__menu-btn {
  background-image: url("../../images/menu-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 25px;
  border: none;
  z-index: 999;
}

/* .header__logo {
  margin: 0;
  font-family: "Pokemon";
  font-size: 48px;
  color: #000;
  text-decoration: none;
} */

/* .Header__explore-link {
  text-decoration: none;
  color: black;
  font-family: Pokemon;
  font-size: 32px;
} */

/* @media (min-width: 670px) {
  .Header {
    grid-template-columns: 5fr repeat(2, 1fr);
    justify-items: start;
    column-gap: 10px;
  }
} */
