@import url("../../vendor/fonts/fonts.css");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  width: 100%;
  max-width: 1440px;
  min-height: 50px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  background-color: white;
}

.header__logo-link {
  text-decoration: none;
}

.header__logo {
  font-family: "Pokemon", sans-serif, "Times New Roman", Times, serif;
  color: rgb(165, 165, 35);
}

.header__menu-btn {
  background-image: url("../../images/menu-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  border: none;
}

@media (min-width: 500px) {
  .header__menu-btn {
    outline: 1px solid red;
    display: none;
  }
}
