.navbar__close-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  margin-left: 80%;
  margin-top: 10%;
  width: 30px;
  height: 30px;
  padding: 0;
}

.navbar {
  background-image: linear-gradient(to bottom right, #ffd700, #c0c0c0 70%);
  /* color: rgba(165, 165, 35); */
  color: #000;
  position: fixed;
  inset: 0 0 0 30%;
  transition: transform 0.8s ease;
}

.navbar_closed {
  transform: translateX(100%);
}
.navbar__main {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  list-style: none;
}

.navbar__link {
  text-decoration: none;
  color: rgba(165, 165, 35);
  color: #000;
  font-size: 24px;
  transition: color 0.2s ease-out, color 0.2s ease-out;
}

.navbar__link:hover {
  color: #ffd700;
}

@media (min-width: 450px) {
  .navbar {
    left: 50%;
  }
}

@media (min-width: 500px) {
  .navbar {
    position: static;
    transition: none;
    background-image: none;
  }

  .navbar__main {
    flex-direction: row;
    gap: 50px;
  }

  .navbar__close-btn {
    display: none;
  }

  .navbar_closed {
    transform: translateX(0);
  }
}
